.list-role{
    width: inherit;
    height: inherit;
    border-radius: 0 0 16px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.list-role-table{
    width: 1112px;
    height: max-content;
    margin: 0 24px;
    background-color: #FFFFFF;
    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
    border-radius: 12px;
}

.list-role-table .table-list {
    width: 100%;
    border-radius: 12px;
}

.list-role-table .table-list thead, .list-role-table .table-list th{
    font-size: 16px;
    background-color: #FF9138;
    color: #FFFFFF;
    padding: 12px 16px;
    text-align: left;
}

.list-role-table .table-list thead:first-child, .list-role-table .table-list th:first-child{
    border-radius: 12px 0 0 0;
}

.list-role-table .table-list thead:last-child, .list-role-table .table-list th:last-child{
    border-radius: 0 12px 0 0;
}

.list-role-table .table-list body, .list-role-table .table-list td{
    font-size: 14px;
    color: #686875;
    padding: 12px 16px;
}

.list-role-table .table-list th, .list-role-table .table-list td{
    height: 49px;
    border-right: 1px solid #FFE3CD;
}

.list-role-table .table-list th:last-child, .list-role-table .table-list td:last-child{
    border-right: none;
}
  
.list-role-table .table-list tr:nth-child(even){
    background-color:  #FFF2E7;
}

.list-role-table .table-link {
    text-decoration: underline;
}

.list-role-button{
    width: 80px;
    height: inherit;
    display: flex;
    justify-content: flex-end;
}

.role-add-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 94px;
    padding: 12px 4px;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
}

.add-icon {
    color: #FF9138;
    font-size: 28px;
}

.add-link{
    text-decoration: none;
    color: #FF9138;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin: 4px 0;
}

.add-link:hover{
    color: #FF9138;
}
