
.banner-login {
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    background-color: #FFFFFF;
    border-radius: 0 16px 16px 0;
    overflow: hidden;
}


.banner-forgot {
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    background-color: #FFFFFF;
    border-radius: 0 16px 16px 0;
    overflow: hidden;
}