.editdevice{
    width: 1240px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 104px;
    left: 24px;
}

.editdevice-title {
    height: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;
    margin: 0 0 16px;
}

.editdevice-form{
    width: 1152px;
    height: 550px;
    border-radius: 16px;
}

.edit-form-frame{
    width: inherit;
    height: inherit;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 16px 24px;
}

.edit-form-title{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FF7506;
    margin: 0;
}

.edit-input-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.edit-input-frame{
    width: 540px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
}

.edit-input-frame:last-child{
    width: inherit;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.edit-input-title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    margin-bottom: 4px;
}

.red-star{
    color: #FF4747;
    margin: 4px;
    font-weight: 700;
    font-size: 16px;
}

.edit-input{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px 10px 12px;
    background: #FFFFFF;
    border: 2px solid #D4D4D7;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    outline: none;
}

.edit-input::placeholder{
    color: #A9A9B0;
}

.edit-select{
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' fill='%23FF7506'/%3E%3Cpath d='M1 1L7 7L13 1H1Z' stroke='%23FF7506' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 97% center;
    -webkit-appearance:none;
    appearance: none;
}

.edit-select:focus-visible{
    border: 1.5px solid #FFAC6A;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 0.999999L1 7' fill='%23FF7506'/%3E%3Cpath d='M13 7L7 0.999999L1 7L13 7Z' stroke='%23FF7506' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.long-select{
    background-image: none;
    height: 100px;
    border: 1.5px solid #FFAC6A;
    border-radius: 8px;;
}

.long-select:focus-visible{
    background-image: none;
}

.note{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #7E7D88;
}

.edit-button-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.button {
    text-align: center;
    padding: 10px 24px;
    margin: 0 16px;
    width: 162px;
    height: 40px;
    border-radius: 8px; 
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 0px 6px #E7E9F2;
    box-sizing: border-box;
}

.button-active {
    background: #FF7506;
    color: #FFFFFF;
    border: none;
}

.button-normal {
    color: #FF7506;
    background: #FFF2E7;
    border: 1.5px solid #FF9138;
}

.ant-select-selector{
    width: 100%;
    border: none !important;
}
