.createservice{
    width: 1178px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 172px;
    left: 24px;
}

.createservice-form{
    width: 1178px;
    height: 534px;
    border-radius: 16px;
}

.create-form-title{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FF7506;
    margin: 0;
}

.createservice-form-frame{
    width: 100%;
    height: inherit;
    background-color: #FFFFFF;
    padding: 16px 24px;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.createservice-info-frame{
    width: inherit;
    height: 206px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createservice-input-frame{
    width: 50%;
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 12px;
}

.createservice-input{
    padding: 10px 12px 10px 12px;
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    outline: none;
    margin-bottom: 6px;
}

.createservice-textarea-frame{
    width: 50%;
    height: 164px;
    margin-left: 12px;
}

.createservice-area{
    width: 100%;
    padding: 10px 12px 10px 12px;
    width: 100%;
    height: 132px !important;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    outline: none;
}

.createservice-rule-frame{
    width: inherit;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 12px;
}

.rule-checkbox-wrapper{
    width: inherit;
    height: 44px;
    display: flex;
    align-items: center;
}

.createservice-rule-checkbox{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    color: #4277FF;
    border: 2px solid #4277FF;
    border-radius: 4px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.createservice-rule-checkbox::before{
    content: "";
    width: 12px;
    height: 12px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    background-color: #4277FF;
}

.createservice-rule-checkbox:checked::before{
    transform: scale(1);
}

.rule-label {
    width: 138px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #282739;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
}

.rule-num-box{
    box-sizing: border-box;
    padding: 10px 12px 10px 12px;
    width: 61px;
    height: 44px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #535261;
    margin: 0 8px;
}

.note{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #7E7D88;
    display: flex;
    align-items: center;
    margin: 0 !important;
}

.red-star{
    height: 21px;
    line-height: 26px;
}

.createservice-form .create-button-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.createservice-form .button {
    text-align: center;
    padding: 10px 24px;
    margin: 0 16px;
    width: 162px;
    height: 48px;
    border-radius: 8px; 
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 0px 6px #E7E9F2;
    box-sizing: border-box;
}

.button-active {
    background: #FF7506;
    color: #FFFFFF;
    border: none;
}

.button-normal {
    color: #FF7506;
    background: #FFF2E7;
    border: 1.5px solid #FF9138;
}