.detailnumber {
    width: 100%;
    height: 604px;
    position: absolute;
    top: 164px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
}

.detailnumber-info{
    width: 91.5%;
    height: inherit;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 16px 24px;
}

.detailnumber-info-title{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
    margin: 0;
}

.detailnumber-info-wrapper{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.detailnumber-info-half{
    width: 50%;
    height: auto;

}

.info-frame{
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    align-items: center;
}

.detailnumber-info-label{
    width: 150px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.detailnumber-info-input{
    border: none;
    outline: none;
    color: #535261;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.detailnumber-dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #4277FF;
    margin-right: 4px;
}

.detailnumber-button{
    width: 6.5%;
    height: inherit;
    border-radius: 16px;
}

.detailnumber-button-wrapper{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    background: #FFF2E7;
    border-radius: 12px 0 0 12px;
}

.detailnumber-icon{
    width: 24px;
    height: 24px;
    background-color: #FF9138;
    color: #FFF2E7;
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailnumber-link{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FF7506;
    text-align: center;
    margin-top: 6px;
}

.detailnumber-link:hover {
    color: #FF9138;
}
