.admin{
    width: 100vw;
    height: 100vh;
    background-color: #B1B1B1;
    display: flex;
    align-items: center;    
}

.admin-wrapper{
    width: 1440px;
    height: 710px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    position: relative;
    
}

.admin-bar{
    width: 200px;
    height: inherit;
    display: flex;
}

.admin-content{
    width: 1240px;
    height: inherit;
    background-color: #F6F6F6;
    border-radius: 0px 16px 16px 0px;
    position: relative;
    z-index: 1;
}